*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
  color: #fff;
  font-size: 16px;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0rem;
}

.input-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.task-input {
  height: 2rem;
  width: 25rem;
  border: none;
}

.task-add {
  height: 2rem;
  width: 5rem;
  background-color: #999999;
  transition: background-color 0.25s;
}

.task-add:hover {
  background-color: #777777;
}

.todo-title {
  text-decoration: underline;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.completed-title {
  text-decoration: underline;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  text-align: center;
}

/* .todo {
}

.completed {
} */

.todo-list {
  display: flex;
  justify-content: center;
}

.todo-tasks {
  background-color: #fff;
}

.todo-tasks li {
  padding: 0rem 2rem;
  list-style-type: none;
}

.completed-tasks {
  background-color: #777;
}

.completed-tasks:hover {
  background-color: #fff !important;
}

.completed-tasks li {
  list-style: none;
}

.completed-tasks li:before {
  padding: 0rem 0.5rem;
  content: "✓";
}

.task {
  color: #000;
  width: 28rem;
  height: 2rem;
  line-height: 2rem;
  transition: all 0.25s;
}

.task:hover {
  background-color: #777777;
}
