*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --primary-color: #212121;
  --secondary-color: #fff;
  height: 100vh;
  font-size: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Raleway", sans-serif;
}

body.light-theme {
  --primary-color: #fff;
  --secondary-color: #212121;
}

hr {
  margin-bottom: 1.5rem;
  width: 100%;
}

/*** Todo ***/

ul li {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 2rem;
  padding: 0.3rem 1rem 0.5rem 3rem;
  margin-bottom: 2px;
}

.deleteButton {
  cursor: pointer;
  border: 0.1rem solid var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  width: 5rem;
  height: 2rem;
  padding: 0.25rem 2.1rem;
  transition: all 0.3s;
}

.deleteButton:hover {
  border: 0.1rem solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/*** Title Section ***/

.title-div {
  padding: 2rem;
  text-align: center;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

/*** Add Todo Section ***/

.add-todo-div {
  width: 50rem;
  height: 12.5rem;
  margin: auto;
}

.add-todo-title {
  font-family: "Raleway", sans-serifs;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.add-todo {
  width: 40rem;
  padding: 0.5rem 0rem;
  border: 0.1rem solid var(--secondary-color);
}

.add-todo::placeholder {
  color: #212121;
}

body.light-theme.add-todo::placeholder {
  color: #fff;
}

.add-todo-btn {
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 800;
  margin: auto;
  width: 9.8rem;
  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);
  padding: 0.5rem;
  transition: all 0.3s;
}

.add-todo-btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/*** Todo List Section ***/

.todo-list-div {
  display: flex;
  flex-direction: column;
  width: 50rem;

  margin: auto;
}

.todo-list-title {
  font-family: "Raleway", sans-serifs;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.todo-list {
  width: 50rem;
}

/*** Completed/Checked ***/

ul li.checked {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: line-through;
  cursor: default;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 0 0.2rem 0.2rem 0;
  top: 0.25rem;
  left: 1rem;
  transform: rotate(45deg);
  height: 1.25rem;
  width: 0.7rem;
}

/*** Completed List Section ***/

.completed-list-div {
  width: 50rem;
  height: 10rem;
  margin: auto;
}

.completed-list-title {
  font-family: "Raleway", sans-serifs;
  font-size: 2rem;
  padding: 1rem 0;
}

.completed-list {
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.completed {
  text-decoration: line-through;
  cursor: default;
}

/**** Toggle Switch ****/

.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid var(--primary-color);
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 0.4rem;
  bottom: 0.3rem;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem var(--primary-color);
}

input:checked + .slider::before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
  background-color: var(--secondary-color);
}
