*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 10px;
  background-color: #212121;
}

.title-div {
  padding: 2rem;
  text-align: center;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

/**** Toggle Switch ****/

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0rem;
  bottom: -0.5rem;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #111;
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem #000;
}

input:checked + .slider::before {
  -webkit-transform: translateX(3.1rem);
  -ms-transform: translateX(3.1rem);
  transform: translateX(3.1rem);
  background-color: #000;
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round::before {
  border-radius: 50%;
}
